@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@DateTime.Now

@{
    var datetime = DateTime.Now;
}


@{
    <text>Merhaba Dünya</text>
}


<p> ornek@@hotmail.com </p>